<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/jquery.validate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/dist/css/bootstrap.min.css">
    <style>
        #content {
            min-height: 550px;
            text-align: left;
            padding: 20px;
        }
        h1 {
            padding: 20px 10px 20px 10px;
        }
        h2 {
            padding-left: 0px !important;
            color: #428bca;
        }
        #header {
            background-color: #CA410B !important;
        }
        .large {
            font-size: 22px;
        }
        .orange {
            color: orange;
        }
        .italic {
            font-style: italic
        }
        .textmiddle {
            vertical-align: middle;
        }
        .padout {
            padding-left: 25px;
            padding-right: 25px;
        }
        .rounded-corners {
            -moz-border-radius: 40px;
            -webkit-border-radius: 40px;
            -khtml-border-radius: 40px;
            border-radius: 40px;
        }
        .rounded-corners-top {
            -moz-border-top-radius: 40px;
            -webkit-border-radius: 40px;
            -khtml-border-radius: 40px;
            border-radius: 40px;
        }
        .right {
            float: right;
        }
        .scrolldown {
            padding-left: 20px;
            color: #EDECE8;
            font-size: 40px;
            font-weight: bold;
            vertical-align: middle;
            text-shadow: #6374AB 2px 2px 2px;
        }
        .contentblock {
            margin: 0px 20px;
        }
        .results {
            border: 1px solid blue;
            padding: 20px;
            margin-top: 20px;
            min-height: 50px;
        }
        .blue-bold {
            font-size: 18px;
            font-weight: bold;
            color: blue;
        }
        /* example styles for validation form demo */
        #register-form {
            background: url("assets/images/form-fieldset.gif") repeat-x scroll left bottom #F8FDEF;
            border: 1px solid #DFDCDC;
            border-radius: 15px 15px 15px 15px;
            display: inline-block;
            margin-bottom: 30px;
            margin-left: 31%;
            margin-top: 10px;
            padding: 25px 50px 10px 33px;
            width: 400px;
        }
        #register-form .fieldgroup {
            background: url("assets/images/form-divider.gif") repeat-x scroll left top transparent;
            display: inline-block;
            padding: 8px 10px;
            width: 340px;
        }
        #register-form .fieldgroup label {
            float: left;
            padding: 15px 0 0;
            width: 110px;
            color: #428bca;
        }
        #register-form .fieldgroup input,
        #register-form .fieldgroup textarea,
        #register-form .fieldgroup select {
            width: 205px;
            margin: 10px 0;
            height: 25px;
        }
        #reqgister-form .submit {
            padding: 10px;
            width: 220px;
            height: 40px !important;
        }
        #register-form .fieldgroup label.error {
            color: #FB3A3A;
            display: inline-block;
            padding: 0;
            text-align: left;
            width: 300px;
        }
    </style>



    <script type="text/javascript">
        (function($, W, D)

            {
                var validator = {};
                validator.call = {
                    setupFormValidation: function() {
                        $("#register-form").validate({
                            rules: {
                                email: {
                                    required: true,
                                    email: true
                                },

                                password: {

                                    required: true,

                                    minlength: 5

                                },

                            },

                            messages: {

                                password: {

                                    required: "Please provide a password",

                                    minlength: "Your password must be at least 5 characters long"

                                },

                                email: "Please enter a valid email address",


                            },

                            submitHandler: function(form) {

                                form.submit();

                            }

                        });

                    }

                }

				$(D).ready(function($) {
					$( "input" ).focus(function() {
						$('#error').hide();
					});
                    validator.call.setupFormValidation();

                });



            })(jQuery, window, document);
    </script>



</head>

<body>

    <div id="page-wrap">
        <div id="content">
            <form action="/login" method="post" id="register-form" novalidate="novalidate">
                <h2>User login</h2>
                <div id="form-content">
                    <fieldset>
                        <div class="fieldgroup">
                            <label for="email">Email</label>
                            <input type="text" class="input-block-level" id="email" name="email">

                        </div>
                        <div class="fieldgroup">
                            <label for="password">Password</label>
                            <input type="password" class="input-block-level" id="password" name="password">
                        </div>
                        <div class="fieldgroup">
                            <input type="submit" value="Sign in" style="margin-left:50px;height:auto" class="btn btn-large btn-primary submit">
                        </div>
                    </fieldset>
                </div>
                <div class="fieldgroup">
                    <a href="/login" style="float:left">Forgot password</a>
                    [% IF error %]
                    <p style="float:right;color:red;" id="error"><b>Invalid user details</b>
                    </p>
                    [% END %]
                </div>
            </form>

        </div>
    </div>
    </div>
    <!-- end page wrap -->
</body>
</html>
